{% extends "base.html" %}

{% block content %}
<div class="modal" id="modalPop">
    <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <form method="POST">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="website" placeholder="Website" autofocus="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="name" placeholder="Username/Email" autofocus="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="button is-block is-info is-large is-fullwidth" type="submit">Submit New Password</button>
                </form>
            </div>
        </div>
    <button class="modal-close is-large" aria-label="close" onclick="enableModal()"></button>
</div>
<div class="column is-10 is-offset-1">
    <h3 class="title">Current Passwords</h3>
    <div class="box">
        <div class = "rows">
        <div class='columns'>
            <div class='column is-one-fourth'>
                WEBSITE
            </div>
            <div class='column is-one-fourth'>
                USERNAME / EMAIL
            </div>
            <div class='column is-one-fourth'>
                PASSWORD
            </div>
            <div class='column is-one-fourth'>
            </div>
        </div>
        <hr style="border: 2px solid black; margin-top: 1px;">
        {% for row in dataList %}
            {% if row[0] == userName %}
            <div class = 'row is-fullwidth'>
                <div class="columns">
                    <div class='column is-one-fourth'>
                        {{ row[1] }}
                    </div>
                    <div class='column is-one-fourth'>
                        {{ row[2] }}
                    </div>
                    <div class='column is-one-fourth'>
                        {{ row[3] }}
                    </div>
                    <div class='column is-one-fourth'>
                        <form action='/delete_row' method='POST'>
                            <button name='{{ dataList.index(row) }}' type='submit' style='border:0px;background-color:transparent;'><img src="{{url_for('static', filename='trashIcon.png')}}" alt="Trash" style="height:30px;"></button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            {% endif %}
        {% endfor %}
        </div>
        <div>
            <button class="button is-block is-info is-fullwidth" onclick="enableModal()">New Password Entry</button>
        </div>
    </div>
</div>
<script>
    flag = 0;
    function enableModal(){
        if(flag == 0){
            document.getElementById("modalPop").classList.add('is-active');
            flag = 1;
        }
        else{
            document.getElementById("modalPop").classList.remove('is-active');
            flag = 0;
        } 
    }
    function escModal(){
        if(flag == 1){
            enableModal()
        }
    }
    document.getElementsByClassName('modal-background')[0].addEventListener('click', function(event){ enableModal() });
    document.addEventListener('keydown', function (event){
        if (event.keyCode === 27) {
            escModal()
        }
    })
</script>
{% endblock %}